*{
    box-sizing: border-box;
    padding: 0 ;
    margin:0 ;
    scroll-behavior: smooth;
}

body{
    width: 80%;
    margin: 0 auto;
    background: #000;
    background-image: url("./assets/background.jpg")
}

a {
    color: unset;
    text-decoration: none;
}

.gradient_bg{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 6% 5%, rgba(49, 11, 113, 0.73) 4%, rgba(46, 0, 0, 0.73) 21%, rgba(0, 0, 0, 0.73) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 6% 5%, rgba(49, 11, 113, 0.73) 4%, rgba(46, 0, 0, 0.73) 21%, rgba(0, 0, 0, 0.73) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 6% 5%, rgba(49, 11, 113, 0.73) 4%, rgba(46, 0, 0, 0.73) 21%, rgba(0, 0, 0, 0.73) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 6% 5%, rgba(49, 11, 113, 0.73) 4%, rgba(46, 0, 0, 0.73) 21%, rgba(0, 0, 0, 0.73) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 6% 5%, rgba(49, 11, 113, 0.73) 4%, rgba(46, 0, 0, 0.73) 21%, rgba(0, 0, 0, 0.73) 100%);
}


@media screen and (max-width: 550px) {
    body{
        width: 90%;
        margin: 0 auto;
    }

}